In [4]:
# String is immutable data type
# It is Represented by Single quote,Double quote ,Triple quote
# python is a line by line Excuction

In [9]:
course='i am learing Full stack Python course' # save in memory
print(course) # calling the memory

i am learing Full stack Python course

In [8]:
course1="i am learing full stack java course"
print(course1)

i am learing full stack java course

In [40]:
# forward index 0 to 1

course2="""i am learing data Science course"""  # save in memory
print(course2[5])
print(course2[10])  # calling the memory

l
n

In [41]:
# backward index -1

course2="""i am learing data Science course"""
print(course2[-5])
print(course2[-10])

o
n

In [42]:
course2="""i am learing data Science course"""
print(course2)

i am learing data Science course

In [11]:
# Slicing function is used to Specific Range of Characters

a='devisetti satish'
print(a[2:8])

visett

In [12]:
print(a[4:10])

setti

In [13]:
p="Data Science"
print(p[:])

Data Science

In [43]:
# skipping
a = 'kiran kumar'
print(a[::2])

krnkmr

In [44]:
a = 'kiran kumar'
print(a[::-2])

rmknrk

In [15]:
# Bulit in Functions
# lower

x='I am Going to pune'
print(x.lower())

i am going to pune

In [16]:
#upper

y='FULL stack python'
print(y.upper())

FULL STACK PYTHON

In [17]:
# capitalize

z='data analysis'
print(z.capitalize())

Data analysis

In [18]:
# title

R='data analysis'
print(R.title())

Data Analysis

In [22]:
# islower function Return Boolean type(true or False)

P='satish'
Q='DEVIsetti'
print(P.islower())
print(Q.islower())

True
False

In [23]:
# isupper function Return Boolean type(true or False)


P='SATISH'
Q='devisetti'
print(P.isupper())
print(Q.isupper())

True
False

In [24]:
# isnumeric function is used  to only numbers values


int='965245'
int1='hai143'

print(int.isnumeric())
print(int1.isnumeric())

True
False

In [28]:
#isalpha functions is used to only Alphabets

name='sandeep'
name1='hari123'

print(name.isalpha())
print(name1.isalpha())

True
False

In [29]:
# replace

a='devisetti satish'
a=a.replace('s','j')
print(a)

devijetti jatijh

In [31]:
#isalnum

T='swathi12'
print(T.isalnum())

True

In [33]:
# length

mystring="data analysis"
print(len(mystring))

13

In [34]:
# count
nam='kiran,hai,hari'
print(nam.count('a'))

3

In [35]:
# index
ind='kirankumar'
print(ind.index('a'))

3